STNL DATA READ

In [3]:
import pandas as pd
import numpy as np

stnl1 = pd.read_csv("/Users/dan/calpoly/BusinessAnalytics/GSB503HAWKS/data/stnl_activity_subset_1.csv")
stnl2 = pd.read_csv("/Users/dan/calpoly/BusinessAnalytics/GSB503HAWKS/data/stnl_activity_subset_2.csv")
stnl3 = pd.read_csv("/Users/dan/calpoly/BusinessAnalytics/GSB503HAWKS/data/stnl_activity_subset_3.csv")
stnl4 = pd.read_csv("/Users/dan/calpoly/BusinessAnalytics/GSB503HAWKS/data/stnl_activity_subset_4.csv")

stnl = pd.concat([stnl1, stnl2, stnl3, stnl4], ignore_index=True)

#print(stnl.info())

stnl_as = stnl['ACTIVITY_SOURCE'].value_counts(normalize=True) * 100
stnl_ac = stnl['ACTIVITY_CODE'].value_counts(normalize=True) * 100
stnl_at = stnl['ACTIVITY_TYPE'].value_counts(normalize=True) * 100
stnl_en = stnl['IS_ENGAGEMENT_ACTIVITY'].value_counts(normalize=True) * 100
stnl_descibe = [stnl_as, stnl_ac, stnl_at, stnl_en]

stnl.head()

/var/folders/jl/kkh608tn0k194f6cv0bwbqp80000gn/T/ipykernel_30266/155344351.py:4: DtypeWarning: Columns (2) have mixed types. Specify dtype option on import or set low_memory=False.
  stnl1 = pd.read_csv("/Users/dan/calpoly/BusinessAnalytics/GSB503HAWKS/data/stnl_activity_subset_1.csv")

,CUSTOMER_KEY,CUSTOMER_ACTIVITY_KEY,LINE_OF_BUSINESS,ACTIVITY_SOURCE,ACTIVITY_CODE,ACTIVITY_TYPE,ACTIVITY_DATETIME,IS_ENGAGEMENT_ACTIVITY
0,-7867354998288837896,-3383110370224525131,NaN,archtics,initial_creation,creation,1978-12-28 00:00:00.000,1
1,832276829427199671,6424539283541568916,NaN,archtics,initial_creation,creation,1996-04-24 00:00:00.000,1
2,-5929530350986210258,-3066267559221806144,NaN,archtics,initial_creation,creation,1996-08-20 00:00:00.000,1
3,-557098195255817479,8999280564714116794,NaN,archtics,initial_creation,creation,1997-05-21 00:00:00.000,1
4,3137729073597852352,3930684364942998844,NaN,archtics,initial_creation,creation,1997-07-01 00:00:00.000,1

BP DATA READ

In [44]:
bp = pd.read_csv("/Users/dan/calpoly/BusinessAnalytics/GSB503HAWKS/data/bp_activity_subset.csv")

bp_as = bp['ACTIVITY_SOURCE'].value_counts(normalize=True) * 100
bp_ac = bp['ACTIVITY_CODE'].value_counts(normalize=True) * 100
bp_at = bp['ACTIVITY_TYPE'].value_counts(normalize=True) * 100
bp_en = bp['IS_ENGAGEMENT_ACTIVITY'].value_counts(normalize=True) * 100
bp_descibe = [bp_as, bp_ac, bp_at, bp_en]

#bp.head()

STH DATA READ

In [45]:
sth = pd.read_csv("/Users/dan/calpoly/BusinessAnalytics/GSB503HAWKS/data/new_sth_subset.csv")

sth_as = sth['ACTIVITY_SOURCE'].value_counts(normalize=True) * 100
sth_ac = sth['ACTIVITY_CODE'].value_counts(normalize=True) * 100
sth_at = sth['ACTIVITY_TYPE'].value_counts(normalize=True) * 100
sth_en = sth['IS_ENGAGEMENT_ACTIVITY'].value_counts(normalize=True) * 100
sth_descibe = [sth_as, sth_ac, sth_at, sth_en]

#sth.head()

PERCENTAGE COMPARISON

In [47]:
activity_source_comparison = pd.DataFrame({
    'sth (%)': sth_as,
    'bp (%)': bp_as,
    'stnl (%)': stnl_as
}).fillna(0)

activity_code_comparison = pd.DataFrame({
    'sth (%)': sth_ac,
    'bp (%)': bp_ac,
    'stnl (%)': stnl_ac
}).fillna(0)

activity_type_comparison = pd.DataFrame({
    'sth (%)': sth_at,
    'bp (%)': bp_at,
    'stnl (%)': stnl_at
}).fillna(0)

engagement_comparison = pd.DataFrame({
    'sth (%)': sth_en,
    'bp (%)': bp_en,
    'stnl (%)': stnl_en
}).fillna(0)

print("Activity Source Comparison:")
print(activity_source_comparison)

print("\nActivity Code Comparison:")
print(activity_code_comparison)

print("\nActivity Type Comparison:")
print(activity_type_comparison)

print("\nEngagement Comparison:")
print(engagement_comparison)

# Optionally, save them to CSV files
#activity_source_comparison.to_csv("activity_source_comparison.csv")
#activity_code_comparison.to_csv("activity_code_comparison.csv")
#activity_type_comparison.to_csv("activity_type_comparison.csv")

Activity Source Comparison:
                   sth (%)     bp (%)   stnl (%)
ACTIVITY_SOURCE
archtics          3.702843   2.095362   2.778902
dynamics          0.726969   0.327126   0.416725
eloqua           74.333247  91.103447  89.074239
fanatics          0.119675   0.125618   0.175617
formstack         0.150477   0.173195   0.343146
qualtrics         0.021376   0.010573   0.006270
typeform          0.090219   0.036646   0.005682
yinzcam          20.855194   6.128033   7.199419

Activity Code Comparison:
                                    sth (%)     bp (%)   stnl (%)
ACTIVITY_CODE
attend                             1.729138   0.954677   1.165234
email_click                        2.919656   2.345702   1.705546
email_incoming_from_customer       0.302469   0.095513   0.049266
email_open                        26.782537  30.555048  22.787598
email_outgoing_to_customer         0.288330   0.090853   0.052542
email_send                        44.449606  57.903975  63.956686
email_sub                          0.086179   0.140312   0.280496
email_unsub                        0.006228   0.016307   0.031940
form_submission                    0.240696   0.209841   0.348828
forward_receipt                    0.003871   0.004838   0.009546
forward_received                   0.219824   0.298185   0.365514
forward_send                       0.887040   0.267005   0.268697
initial_creation                   0.384777   0.497812   1.026982
merch_purchase                     0.098130   0.105816   0.142090
page_view                         20.752183   6.063701   7.133978
phonecall_incoming_from_customer   0.001515   0.000538   0.000358
phonecall_outgoing_to_customer     0.004545   0.000806   0.000998
primary_purchase_club              0.031981   0.081445   0.173953
primary_purchase_ga                0.005891   0.009049   0.010954
primary_purchase_single            0.067496   0.121317   0.226904
primary_purchase_sth               0.159903   0.035392   0.023417
primary_purchase_suite             0.008584   0.000358   0.000665
secondary_purchase                 0.050496   0.076518   0.142474
secondary_sale                     0.454461   0.112178   0.084430
survey_submission                  0.021376   0.010573   0.006270
text_incoming_from_customer        0.024911   0.001523   0.002764
text_outgoing_to_customer          0.018178   0.000717   0.001868

Activity Type Comparison:
                 sth (%)     bp (%)   stnl (%)
ACTIVITY_TYPE
app            20.752183   6.063701   7.133978
attend          1.729138   0.954677   1.165234
communication  75.146227  91.371707  89.225159
creation        0.384777   0.497812   1.026982
forward         1.110735   0.570029   0.643758
purchase        0.422480   0.429896   0.720459
resale          0.454461   0.112178   0.084430

Engagement Comparison:
                          sth (%)     bp (%)   stnl (%)
IS_ENGAGEMENT_ACTIVITY
0                       46.108387  58.391841  64.397161
1                       53.891613  41.608159  35.602839

EMAIL OPEN ENGAGEMENT
-found is always zero

In [21]:
stnl_comms = stnl[stnl["ACTIVITY_TYPE"] == "communication"]
stnl_email_open = stnl_comms[stnl_comms["ACTIVITY_CODE"] == "email_open"]
stnl_email_open['IS_ENGAGEMENT_ACTIVITY'].value_counts(normalize=True) * 100

IS_ENGAGEMENT_ACTIVITY
1    100.0
Name: proportion, dtype: float64

HOW SOURCES TRACK ENGAGEMENT

In [32]:
stnl_zero_engagement = stnl[stnl['IS_ENGAGEMENT_ACTIVITY'] == 0]
zero = stnl_zero_engagement["ACTIVITY_SOURCE"].value_counts()

stnl_one_engagement = stnl[stnl['IS_ENGAGEMENT_ACTIVITY'] == 1]
one = stnl_one_engagement["ACTIVITY_SOURCE"].value_counts()

stnl_one_zero_as = pd.DataFrame({
    '1': one,
    '0': zero
}).fillna(0)

stnl_one_zero_as

                      1          0
ACTIVITY_SOURCE
archtics          94784    13798.0
dynamics          14118     2165.0
eloqua           980188  2500273.0
fanatics           6862        0.0
formstack         13408        0.0
qualtrics           245        0.0
typeform            222        0.0
yinzcam          281308        0.0

HOW EACH CODE ENGAGES

In [30]:
stnl_zero_engagement = stnl[stnl['IS_ENGAGEMENT_ACTIVITY'] == 0]
zero = stnl_zero_engagement["ACTIVITY_CODE"].value_counts()

stnl_one_engagement = stnl[stnl['IS_ENGAGEMENT_ACTIVITY'] == 1]
one = stnl_one_engagement["ACTIVITY_CODE"].value_counts()

stnl_one_zero_ac = pd.DataFrame({
    '1': one,
    '0': zero
}).fillna(0)

snl_one_zero_ac

                                         1          0
ACTIVITY_CODE
attend                             45530.0        0.0
email_click                        66642.0        0.0
email_incoming_from_customer        1925.0        0.0
email_open                        890396.0        0.0
email_outgoing_to_customer             0.0     2053.0
email_send                             0.0  2499025.0
email_sub                          10960.0        0.0
email_unsub                            0.0     1248.0
form_submission                    13630.0        0.0
forward_receipt                      373.0        0.0
forward_received                   14282.0        0.0
forward_send                           0.0    10499.0
initial_creation                   40128.0        0.0
merch_purchase                      5552.0        0.0
page_view                         278751.0        0.0
phonecall_incoming_from_customer      14.0        0.0
phonecall_outgoing_to_customer         0.0       39.0
primary_purchase_club               6797.0        0.0
primary_purchase_ga                  428.0        0.0
primary_purchase_single             8866.0        0.0
primary_purchase_sth                 915.0        0.0
primary_purchase_suite                26.0        0.0
secondary_purchase                  5567.0        0.0
secondary_sale                         0.0     3299.0
survey_submission                    245.0        0.0
text_incoming_from_customer          108.0        0.0
text_outgoing_to_customer              0.0       73.0

HOW EACH TYPE ENGAGES

In [31]:
stnl_zero_engagement = stnl[stnl['IS_ENGAGEMENT_ACTIVITY'] == 0]
zero = stnl_zero_engagement["ACTIVITY_TYPE"].value_counts()

stnl_one_engagement = stnl[stnl['IS_ENGAGEMENT_ACTIVITY'] == 1]
one = stnl_one_engagement["ACTIVITY_TYPE"].value_counts()

stnl_one_zero_at = pd.DataFrame({
    '1': one,
    '0': zero
}).fillna(0)

stnl_one_zero_at

                      1          0
ACTIVITY_TYPE
app            278751.0        0.0
attend          45530.0        0.0
communication  983920.0  2502438.0
creation        40128.0        0.0
forward         14655.0    10499.0
purchase        28151.0        0.0
resale              0.0     3299.0